.widget-item{
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 150px;
    height: 100%;
    gap: 10px;
    &.light{
        background-color: var(--m-bg-4);
    }
    &.mid{
        background-color: var(--m-bg-2);
    }
    &.dark{
        background-color: var(--m-bg-3);
    }
}